
body {

font-family: Roboto, sans-serif;
color: #333;
font-size: 16px;
line-height: 22px;
}
h1 {

margin-top: 0px;
margin-bottom: 19px;
font-size: 50px;
line-height: 44px;
font-weight: 500;
}
h2 {

margin-top: 0px;
margin-bottom: 10px;
font-size: 30px;
line-height: 36px;
font-weight: 400;
text-align: center;
}
h3 {

margin-top: 0px;
margin-bottom: 15px;
font-size: 22px;
line-height: 30px;
font-weight: 500;
}
h4 {

margin-top: 10px;
margin-bottom: 10px;
font-size: 18px;
line-height: 24px;
font-weight: 700;
}
h5 {

margin-top: 10px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
font-weight: 700;
}
h6 {

margin-top: 10px;
margin-bottom: 10px;
font-size: 12px;
line-height: 18px;
font-weight: 700;
}
p {

margin-top: 0px;
margin-bottom: 5px;
}
a:focus{
    color:inherit;
    text-decoration:none;
}
.button {

display: inline-block;
margin-right: 15px;
margin-left: 15px;
padding: 13px 23px;
border-radius: 3px;
background-color: black;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px;
-webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
font-family:'Roboto Slab', sans-serif;
color: white;
text-align: center;
text-decoration: none;
}
.button:hover {

background-color: #489fd9;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, #489fd9 0px 0px 0px 2px inset;
color: white;
text-shadow: none;
text-decoration:none;
}
.button.hollow {

padding-right: 23px;
background-color: transparent;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, black 0px 0px 0px 2px inset;
color: black;
text-shadow: none;
text-decoration:none;
}
.button.hollow:hover {

background-color: #489fd9;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, #489fd9 0px 0px 0px 2px inset;
color: white;
text-shadow: none;
}
.navbar-default .navbar-brand{
    color:#000000;
}
.logo-text {

color:#000000;
font-family:'Roboto Slab', sans-serif;
color: #1c1c1c;
font-size: 27px;
font-weight: 500;
}
.navigation {

position: fixed;
left: 0px;
top: 0px;
right: 0px;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 0px 0px;
}
.navbar{
    z-index:100;
    position:fixed;
    background-color:#FFFFFF;
    width:100%;
    border-radius:0px;
    padding:10px;
}
.navbar-nav>li{
    margin-top:-10px;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color:#FFFFFF;
}
.nav-menu{
height:50px;
margin-bottom: 0px;
float: right;
padding:13px 0;
margin-left:15px;
}
.nav-menu-right{
float:left;
}
.nav-link {

cursor:pointer;
color:#000000;
padding: 26px 17px;
box-shadow: transparent 0px 3px 0px 0px inset;
-webkit-transition: box-shadow 500ms ease, color 300ms ease;
transition: box-shadow 500ms ease, color 300ms ease;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
     color: #4dbd90; 
     background-color: transparent; 
}

.nav-link:hover {

box-shadow: rgba(181, 181, 181, 0.49) 0px 3px 0px 0px inset;
text-decoration:none;
}
.navbar-nav>li.active>.nav-link {
box-shadow: #4dbd90 0px 3px 0px 0px inset;
color: #4dbd90;
text-decoration:none;
}
.section {

padding-top: 8%;
padding-bottom: 6%;
}
.section.main {

padding-top: 10%;
padding-bottom: 10%;
background-color: #F8B93A;
background-image: url('../img/section1.png');
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;
color: white;
text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}
.section.footer {

padding-top: 6%;
padding-bottom: 6%;
background-color: #2b2c2e;
color: #e4e8eb;
}
.section.section3{

padding-top: 7%;
padding-bottom: 7%;
background-color: #dde7ed;
}
.section.section2 {

padding-top: 10%;
padding-bottom: 10%;
background-image: url('../img/teaching.jpg');
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.main-subtitle {

margin-bottom: 40px;
font-size: 20px;
line-height: 26px;
font-weight: 300;
}
.footer-title {

margin-top: 0px;
font-family:'Roboto Condensed', sans-serif;
font-weight: 400;
text-transform: uppercase;
}
.brand-link {

text-decoration: none;
}
.main-heading {

margin-top: 0px;
margin-bottom: 40px;
color: white;
font-size: 38px;
line-height: 44px;
}
.section-subtitle {

margin-bottom: 68px;
font-size: 26px;
line-height: 22px;
font-weight: 300;
text-align: center;
}
.feature {

text-align: left;
}
.small-features-row {

margin-top: 71px;
}
.small-features-row.section2-row {

margin-top: 90px;
padding-right: 15%;
padding-left: 15%;
text-align: center;
}
.main-image {
max-width:100%;
border: 1px none black;
}
.feature-heading {

min-height: 60px;
margin-bottom: 30px;
color: white;
font-size: 28px;
text-align: center;
}
.feature-title-heading {

padding-top: 30px;
padding-bottom: 30px;
padding-left: 15%;
background-color: transparent;
color: white;
font-size: 50px;
text-align: left;
}
.feature-paragraph {

color: #ccc;
font-size: 18px;
text-align: center;
}
.section2-div {

padding-top: 5%;
padding-bottom: 5%;
background-color: rgba(0, 0, 0, 0.4);
}
.section3-heading{
font-size:50px;
margin-bottom:60px;
}
.contact-heading{
font-size:26px;
}
.contact-link {
color:#66CCFF;
font-size: 20px;
text-align: center;
text-decoration: none;
}
.contact-link:hover{
color:#adedff;
text-decoration:none;
}
.footer-title {

margin-bottom: 100px;
color:#FFFFFF;
}
.instruction-img{
    max-width:100%;
}
.section4-col {

text-align: center;
}
.section4-img {

width: 200px;
}
.section3-col {

padding-right: 20px;
padding-left: 20px;
}
.section4-heading {

margin-bottom: 100px;
}
.section4-col4-heading {

margin-top: 20px;
font-size: 24px;
}
.footer-link-div {

text-align: center;
}
.footer-col{
text-align:center;
}
@media (max-width: 991px) {

.nav-link {

padding: 18px 0px;
}
.nav-link:hover {

box-shadow: transparent 0px 3px 0px 0px inset;
}
.nav-link.menu {

padding: 22px 17px;
color: black;
font-size: 30px;
}
.nav-link.menu.w--open {

background-color: black;
color: white;
}
.section.main {
padding-top:15%;
padding-right: 5%;
padding-left: 5%;
}
.nav-menu {

padding-top: 13px;
padding-bottom: 13px;
}
.small-features-row.section2-row {

padding-right: 5%;
padding-left: 5%;
}
.main-image {

margin-top: 49px;
}
.main-heading{
    font-size:34px;
}
.feature-heading {

min-height: 70px;
font-size: 25px;
}
.feature-title-heading {

padding-left: 0%;
text-align: center;
}
.feature-paragraph {

font-size: 17px;
}
.contact-link {

font-size: 18px;
}
.footer-title {

padding-left: 5%;
}
.section4-heading {

padding-left: 5%;
}
}
@media (max-width: 767px) {

h3 {

margin-bottom: 8px;
}
.nav-link.menu {

padding-top: 11px;
padding-bottom: 11px;
}
.navbar-nav>li.active>.nav-link {
box-shadow:transparent 0px 3px 0px 0px inset;
}
.navbar-collapse.in{
    overflow-y:visible;
}
.section {

padding-top: 43px;
padding-bottom: 43px;
text-align: center;
}
.section.main {

margin-top: 51px;
}
.section3-heading{
margin-bottom:35px;
font-size:40px;
}
.section4-heading{
margin-bottom:70px;
font-size: 40px;
}
.section.section3{
padding-top:10%;
}
.section.section4{
padding-top:10%;
}
.contact-heading {

font-size: 30px;
text-align: center;
}
.nav-menu {

padding: 13px 0 0 8px;
float:left;
height:auto;
}
.navbar-nav>li{
    margin-top:-5px;
}
.footer-title {

margin-top: 35px;
}
.section-subtitle {

margin-bottom: 44px;
}
.feature {

margin-bottom: 32px;
text-align: center;
}
.feature-heading {

min-height: 50px;
margin-bottom: 0px;
}
.feature-title-heading {

margin-bottom: 0px;
padding-bottom: 0px;
font-size: 40px;
}
.instruction-img {

max-width: 50%;
}
.footer-title {

margin-bottom: 30px;
font-size:40px;
padding-left:0;
}
.contact-heading{
font-size:26px;
}
.section4-col {

margin-bottom: 60px;
}
.section3-col {

margin-bottom: 20px;
}
.section2-col {

padding-bottom: 20px;
}
.footer-col {

margin-top: 10px;
margin-bottom: 10px;
}
.section4-row {

margin-bottom: -30px;
}
}
@media (max-width: 479px) {

.button {

margin-right: 10px;
margin-left: 10px;
}
.section-subtitle {

padding-right: 5%;
padding-left: 5%;
font-size: 20px;
}
.feature-title-heading {

padding-right: 5px;
padding-left: 5%;
font-size: 35px;
}
.secyion3-heading {

margin-bottom: 10px;
font-size: 35px;
}
.contact-heading {

margin-bottom: 10px;
font-size: 24px;
}
.contact-link {

font-size: 14px;
}
.footer-title {

font-size: 35px;
}
.section4-heading {

margin-bottom: 50px;
font-size: 35px;
}
.section4-col4-heading {

font-size: 20px;
}
.section4-row {

margin-bottom: -50px;
}
}
